@media screen and(max-width: 720px) {
    label,
    p {
        word-break: break-word;
    }
    .o-subtitle--white {
        color: #FFFFFF;
    }
    .o-bar {
        margin-left: -8px;
    }
    .c-background__clip-path {
        height: 400px;
        clip-path: polygon(0% 0%, 100% 0%, 100% 52%, 0% 71%);
    }
    .c-background__clip-blue {
        margin-top: -1px;
        height: 80px;
        clip-path: polygon(100% 0, -2% 100%, 100% 100%);
    }
    .c-background__clip-blue--reverse {
        clip-path: polygon(0% 0%, 0% 100%, 104% 0%);
    }
    .c-background__clip-white {
        height: 80px;
    }
    .c-header,
    .c-sections,
    .c-infoOne,
    .c-infoTwo,
    .c-infoThree,
    .c-infoFour,
    .c-infoFive,
    .c-footer {
        margin-left: 0;
        margin-right: 0;
    }
    .o-title {
        font-size: 34px;
        line-height: 41px;
    }
    .c-menu,
    .c-header__image,
    .c-images {
        display: none;
    }
    .c-header {
        background-image: none;
        .c-header__info {
            #title {
                font-size: 48px;
                font-weight: 700;
                line-height: 57px;
                text-align: left;
            }
        }
    }
    .c-sections {
        margin-top: 80px;
        .c-sections__one,
        .c-sections__two {
            width: 50%;
            img {
                height: 24px;
                margin-bottom: 64px;
            }
            #zoom {
                height: 15px;
            }
            #siclo {
                height: 18px;
            }
        }
        .c-sections__one {
            margin-top: 0;
        }
        .c-sections__two {
            margin-top: 7px;
        }
    }
    .c-images--mobile {
        display: block;
    }
    .c-infoOne {
        margin-top: 160px;
        padding-top: 60px;
        #one {
            display: none;
        }
        #two {
            display: inline-flex;
            margin-top: 32px;
        }
    }
    .c-infoTwo {
        padding-bottom: 0;
        div:first-child {
            button {
                margin-bottom: 48px;
            }
        }
        .c-infoTwo__image {
            margin-top: 0;
            img {
                width: inherit;
            }
        }
    }
    .c-infoThree {
        div:last-child {
            div {
                display: block;
                div:nth-child(2),
                div:nth-child(3),
                div:nth-child(4) {
                    margin-top: 24px;
                }
            }
        }
    }
    .c-infoFour {
        background-position-y: center;
        background-size: 70% 75%;
        div:nth-child(2) {
            div:first-child {
                margin-top: 0;
                width: 80%;
            }
        }
        .c-infoFour-columns {
            display: block;
            div {
                width: 70%;
            }
        }
    }
    .c-infoFive {
        div {
            display: block;
            .col-sm-2 {
                margin-top: 48px;
                width: 69%;
            }
        }
    }
    .c-footer {
        .col-sm-10 {
            display: block;
            .u-flex__column {
                width: 50%;
                display: inline-flex;
            }
            div:last-child {
                width: 100%;
                flex-direction: row;
                div {
                    margin-top: 24px;
                    display: flex;
                    width: 50%;
                    flex-direction: column;
                }
            }
        }
    }
}