<div class="container-fluid" style="padding: 0;">
  <div class="c-background__clip-path c-background__gradient"></div>
  <mat-toolbar class="c-menu">
    <div class="col-sm-3 offset-sm-1 c-menu__logo">
      <label>Striped</label>
    </div>
    <div class="col-sm-6 c-menu__tabs">
      <a href="#products">Products</a>
      <a href="#developers">Developers</a>
      <a href="#company">Company</a>
      <a href="#pricing">Pricing</a>
    </div>
    <div class="col-sm-2">
      <button class="o-button c-menu__button">
        Sign in
        <mat-icon aria-hidden="false">chevron_right</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <div class="c-contenedor">
    <div class="row c-header">
      <div class="col-sm-5 offset-sm-1 c-header__info">
        <p id="title">Payments insfrastructure for the internet</p>
        <p id="subtitle">Millions of businesses of all sizes—from startups to large enterprises—use Stripe’s
          software and APIs to accept payments, send payouts, and manage their businesses online.</p>
        <button class="o-button c-header__button-start">
          Start now
          <mat-icon aria-hidden="false">chevron_right</mat-icon>
        </button>
        <button class="c-header__button-contact">
          Contact sales
          <mat-icon aria-hidden="false">chevron_right</mat-icon>
        </button>
      </div>
      <div class="col-sm-6 c-header__image">
        <img id="desktop" src="assets/images/desktop.png">
        <img id="mobile" src="assets/images/mobile.png" alt="">
      </div>
    </div>
    <div class="row c-sections">
      <div class="row c-sections__one">
        <img src="assets/images/rappi.png">
        <img src="assets/images/cornershop.png">
        <img src="assets/images/google.png">
        <img src="assets/images/amazon.png">
      </div>
      <div class="row c-sections__two u-mt__80">
        <img id="zoom" src="assets/images/zoom.png">
        <img src="assets/images/shopify.png">
        <img src="assets/images/maskota.png">
        <img src="assets/images/siclo.png">
      </div>
    </div>
    <div class="row c-infoOne">
      <div class="row">
        <div class="col-sm-5 offset-sm-1">
          <p class="o-upTitle o-color__purple u-mb__32">Unified platform</p>
          <p class="o-title o-title--gray u-mb__32">A fully integrated suite of payments products</p>
        </div>
      </div>
      <div class="col-sm-5 offset-sm-1">
        <label class="o-subtitle u-mb__32">We bring together everything that’s required to build websites and apps that accept payments
          and send payouts globally. Stripe’s products power payments for
          <span class="o-color__purple"> online and in-person retailers,
            subscriptions businesses, software platforms and marketplaces </span>
          , and everything in between.</label>
          <button class="o-button c-infoOne__button">
            Start with paymets
            <mat-icon aria-hidden="false">chevron_right</mat-icon>
          </button>
      </div>
      <div class="col-sm-4">
        <label class="o-subtitle">We also help companies 
          <span class="o-color__purple">beat fraud, send invoices, issue virtual and physical cards, 
          get financing, manage business spend </span>
          , and much more.</label>
      </div>
      <div class="row c-images">
        <div class="col-sm-3 offset-sm-1 c-images__one">
            <img src="assets/images/producto1.png" alt="">
            <img src="assets/images/producto4.png" alt="">
        </div>
        <div class="col-sm-8 c-images__two">
          <img src="assets/images/producto2.png" alt="">
          <img src="assets/images/producto3.png" alt="">
          <img src="assets/images/producto5.png" alt="">
        </div>
      </div>
      <div class="row c-background__clip-blue"></div>
    </div>
    <div class="row c-infoTwo u-pb-80">
      <div class="col-sm-6 offset-sm-1">
        <div class="row u-mt__80">
          <div class="col-sm-11">
            <p class="o-upTitle o-color__blue u-mb__32">Designed for developers</p>
            <p class="o-title o-title--white u-mb__32">The world’s most powerful and easy-to-use APIs</p>
          </div>
        </div>
        <div class="col-sm-7">
          <label class="o-subtitle o-subtitle--white u-mb__32">We agonize over the right abstractions so your teams 
            don’t need to stitch together disparate systems or spend months integrating payments
             functionality.</label>
            <button class="o-button c-infoTwo__button">
              Read the docs
              <mat-icon aria-hidden="false">chevron_right</mat-icon>
            </button>
        </div>
        <div class="row c-infoTwo__infoDown u-mt__80">
          <div class="col-sm-5">
            <img class="u-mb-24" src="assets/images/icono1.png" alt="">
            <div>
              <p class="o-bar"></p>
              <p>Tools for every stack</p>
            </div>
            <label class="u-mb-24">We offer client and server libraries in everything from React and PHP to .NET and iOS.</label>
            <button class="o-button o-button--none o-color__blue">
              See Libraries
              <mat-icon aria-hidden="false">chevron_right</mat-icon>
            </button>
          </div>
          <div class="col-sm-5">
            <img class="u-mb-24" src="assets/images/icono2.png" alt="">
            <div>
              <p class="o-bar"></p>
              <p>Prebuilt integrations</p>
            </div>
            <label class="u-mb-24">Use integrations for systems like Shopify, WooCommerce, NetSuite, and more.</label>
            <button class="o-button o-button--none o-color__blue">
              Explore Partners
              <mat-icon aria-hidden="false">chevron_right</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="col-sm-5 c-infoTwo__image">
        <img src="assets/images/code.png" alt="">
      </div>
    </div>
    <div class="row c-infoThree u-pb-80">
      <div class="row c-background__clip-blue c-background__clip-blue--reverse"></div>
      <div class="col-sm-6 offset-sm-1">
        <div class="row u-mt__80">
          <div class="col-sm-11">
            <p class="o-upTitle o-color__purple u-mb__32">Designed for developers</p>
            <p class="o-title u-mb__32">The world’s most powerful and easy-to-use APIs</p>
          </div>
        </div>
        <div class="col-sm-7">
          <label class="o-subtitle u-mb__32">We agonize over the right abstractions so your teams 
            don’t need to stitch together disparate systems or spend months integrating payments
             functionality.</label>
        </div>
      </div>
      <div class="row u-mt__80">
        <div class="col-sm-11 offset-sm-1 u-inline-flex">
          <div class="col-sm-2">
            <img class="u-mb-24" src="assets/images/icono3.png" alt="">
            <div>
              <p class="o-bar o-bar--purple"></p>
              <p>Close to the metal</p>
            </div>
            <label class="u-mb-24">From <span class="o-color__purple"> direct integrations </span>
              with card networks 
              and banks to checkout flows in the browser, 
              we operate on and optimize at every level of the financial stack.</label>
          </div>
          <div class="col-sm-2 offset-sm-1">
            <img class="u-mb-37" src="assets/images/icono4.png" alt="">
            <div>
              <p class="o-bar o-bar--purple"></p>
              <p>Fastest-improving platform</p>
            </div>
            <label class="u-mb-24">
              We release <span class="o-color__purple"> hundreds of features </span> and improvements each year to help you stay 
              ahead of industry shifts. (On average, we deploy our production API 16x per day.)
            </label>
          </div>
          <div class="col-sm-2 offset-sm-1">
            <img class="u-mb-24" src="assets/images/icono5.png" alt="">
            <div>
              <p class="o-bar o-bar--purple"></p>
              <p>Battle-tested reliability</p>
            </div>
            <label class="u-mb-24">Our systems operate with 
              <span class="o-color__purple">99.9%</span>+ uptime and are highly 
              scalable and redundant. Striped is certified to the highest compliance standards.</label>
          </div>
          <div class="col-sm-2 offset-sm-1">
            <img class="u-mb-24" src="assets/images/icono5.png" alt="">
            <div>
              <p class="o-bar o-bar--purple"></p>
              <p>Intelligent optimizations</p>
            </div>
            <label class="u-mb-24">
              Our machine learning models train on 
              <span class="o-color__purple"> billions </span> of data points and help 
              increase revenue across conversion, fraud, revenue recovery, and more.
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row c-infoFour">
      <div class="c-infoFour__c-img">
        <img class="c-infoFour__img" src="assets/images/world.png">
      </div>
      <div class="row c-background__clip-white"></div>
      <div class="col-sm-6 offset-sm-1">
        <div class="row u-mt__80">
          <div class="col-sm-10">
            <p class="o-upTitle o-color__blue u-mb__32">Global Scale</p>
            <p class="o-title o-title--white u-mb__32">The backbone for internet business</p>
          </div>
        </div>
        <div class="col-sm-7">
          <label class="o-subtitle o-subtitle--white">For ambitious companies around the world, 
            Stripe makes moving money as simple, borderless, and programmable as the rest of the 
            internet. Our teams are based in dozens of offices around the world and we process 
            hundreds of billions of dollars each year for <span class="o-color__blue">startups to large enterprises. </span></label>
        </div>
      </div> 
      <div class="col-sm-11 offset-sm-1 u-inline-flex u-mt__80 c-infoFour-columns">
        <div class="col-sm-2">
          <div>
            <p class="o-bar o-bar--xl"></p>
            <p class="o-title o-title--white">250+</p>
          </div>
          <label class="u-mb-24 o-subtitle--white">
            API requests per day, peaking at 13,000 requests a second.
          </label>
        </div>
        <div class="col-sm-2 offset-sm-1">
          <div>
            <p class="o-bar o-bar--xl"></p>
            <p class="o-title o-title--white">90%</p>
          </div>
          <label class="u-mb-24 o-subtitle--white">
            of U.S. adults have bought from businesses using Striped.
          </label>
        </div>
        <div class="col-sm-2 offset-sm-1">
          <div>
            <p class="o-bar o-bar--xl"></p>
            <p class="o-title o-title--white">135+</p>
          </div>
          <label class="u-mb-24 o-subtitle--white">
            currencies and paymet methods supported.
          </label>
        </div>
        <div class="col-sm-2 offset-sm-1">
          <div>
            <p class="o-bar o-bar--xl"></p>
            <p class="o-title o-title--white">35+</p>
          </div>
          <label class="u-mb-24 o-subtitle--white">
            currencies and counties methods supported.
          </label>
        </div>
      </div>     
    </div>
    <div class="row u-mt__80 u-pb-80">
      <div class="col-sm-11 offset-sm-1 u-inline-flex">
        <div class="col-sm-5">
          <p class="o-title o-title--gray u-mb__32">Ready to get started?</p>
          <label class="u-mb__32">
            Explore <span class="o-color__purple">Striped Payments</span>, or create an account 
            instantly and start accepting payments. You can also contact us to 
            design a custom package for your business.
          </label>
          <button class="o-button o-button--purple">
            Start now
            <mat-icon aria-hidden="false">chevron_right</mat-icon>
          </button>
          <button class="o-button o-button--none o-color__purple u-ml-30">
            Contact sales
            <mat-icon aria-hidden="false">chevron_right</mat-icon>
          </button>
        </div>
        <div class="col-sm-2 offset-sm-1">
          <img class="u-mb-24" src="assets/images/icono6.png" alt="">
          <div>
            <p class="o-bar o-bar--purple"></p>
            <p>Always know what you pay</p>
          </div>
          <label class="u-mb-24">
            Integrated per-transaction pricing with no hidden fees.
          </label>
          <button class="o-button o-button--none o-color__purple">
            Pricing Details
            <mat-icon aria-hidden="false">chevron_right</mat-icon>
          </button>
        </div>
        <div class="col-sm-2 offset-sm-1">
          <img class="u-mb-24" src="assets/images/icono7.png" alt="">
          <div>
            <p class="o-bar o-bar--purple"></p>
            <p>Start your integration</p>
          </div>
          <label class="u-mb-24">
            Get up and running with Stripe in as little as 10 minutes.
          </label>
          <button class="o-button o-button--none o-color__purple">
            API Reference
            <mat-icon aria-hidden="false">chevron_right</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="row c-footer u-background__gray u-pb__300">
      <div class="row c-background__clip-white"></div>
      <div class="col-sm-10 offset-sm-1 u-mt__80 u-inline-flex">
        <div class="col-sm-3">
          <p class="c-footer__logo">Striped</p>
        </div>
        <div class="col-sm-3 u-flex__column">
          <a href="#">Products</a>
          <a href="#">Payments</a>
          <a href="#">Billing</a>
          <a href="#">Connect</a>
          <a href="#">Payout</a>
          <a href="#">Atlas</a>
          <a href="#">Radar</a>
          <a href="#">Issuing</a>
          <a href="#">Terminal</a>
          <a href="#">Corporate Card</a>
          <a href="#">Capital</a>
          <a href="#">Treasury</a>
          <a href="#">Sigma</a>
          <a href="#">Climate</a>
          <a href="#">Pricing</a>
        </div>
        <div class="col-sm-3 u-flex__column">
          <a href="#">Developers</a>
          <a href="#">Documentation</a>
          <a href="#">API reference</a>
          <a href="#">API status</a>
          <br>
          <a href="#">Company</a>
          <a href="#">About</a>
          <a href="#">Customers</a>
          <a href="#">Enterprise</a>
          <a href="#">Partners</a>
          <a href="#">Jobs</a>
          <a href="#">Blog</a>
          <a href="#">Newsroom</a>
        </div>
        <div class="col-sm-3 u-flex__column">
          <a href="#">Use cases</a>
          <a href="#">SaaS</a>
          <a href="#">Platforms</a>
          <a href="#">Marketplaces</a>
          <a href="#">Ecommerce</a>
          <br>
          <a href="#">Resources</a>
          <a href="#">Support</a>
          <a href="#">Contact</a>
          <a href="#">Guides</a>
          <a href="#">Privacy & terms</a>
          <a href="#">Licenses</a>
          <a href="#">Covid-19</a>
          <a href="#">Sitemap</a>
          <a href="#">Cookie settings</a>
        </div>
      </div>
    </div>
  </div>
</div>