
.c-contenedor {
    position: absolute;
    top: 10%;
}
.c-menu {
    color: #FFFFFF;
    background: none;
    position: absolute;
    top: 0;
    .c-menu__logo {
        font-family: "Impact";
        font-size: 26px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.01em;
    }
    .c-menu__tabs a {
        font-family: 'Helvetica Neue Bold';
        font-size: 17px;
        line-height: 24px;
        letter-spacing: 0;
        text-align: center;
        text-decoration: none;
        color: #FFFFFF;
        margin-left: 32px;
    }
    .c-menu__button {
        font-family: "Helvetica Neue";
        font-style: normal;
        font-weight: bolder;
        color: #FFFFFF;
        background: rgba(255, 255, 255, 0.2);
    }
}
.c-header {
    width: 100%;
    margin: 0;
    background-image: url("../assets/images/desktop.png");
    background-repeat: no-repeat;
    background-position-x: right;
    .c-header__info {
        margin-top: 65px;
        font-family: "Helvetica Neue Bold";
        text-align: left;
        #title {
            color: #393939;
            font-size: 80px;
            line-height: 97px;
            letter-spacing: -0.04em;
        }
        #subtitle {
            color: #425466;
            font-size: 18px;
            line-height: 34px;
            letter-spacing: 0;
        }
        .c-header__button-start {
            font-family: "Helvetica Neue Medium";
            color: #FFFFFF;
            background: #11253E;
        }
        .c-header__button-contact {
            border: none;
            background: none;
            display: inline-flex;
            font-family: "Helvetica Neue Medium";
            font-size: 15px;
            letter-spacing: 0.01em;
            text-align: center;
            color: #0A2540;
            margin-left: 20px;
        }
    }
    .c-header__image {
        #desktop {
            margin-left: 130px;
        }
        #mobile {
            position: absolute;
            top: 1%;
            right: 235px;
        }
    }
}
.c-contenedor,
.c-sections,
.c-infoOne,
.c-infoTwo,
.c-infoThree,
.c-infoFour,
.c-infoFive,
.c-footer {
    width: 100%;
}
.c-sections {
    .c-sections__one,
    .c-sections__two {
        height: 40px;
        justify-content: space-around;
        align-items: center;
        img {
            width: auto;
        }
    }
    .c-sections__one {
        margin-top: 128px;
    }
    .c-sections__two {
        margin-bottom: 128px;
        #zoom {
            height: 20px;
        }
    }
}
.c-infoOne {
    padding-top: 80px;
    background: linear-gradient(180deg, #FBFCFE 0%, #DDE0E5 84.45%), #F6F9FC;
    .c-infoOne__button {
        font-family: "Helvetica Neue Medium";
        width: auto;
        color: #FFFFFF;
        background-color: #635CFF;
    }
    #one {
        display: inline-flex;
    }
    #two {
        display: none;
    }
}
.c-images {
    margin-bottom: 80px;
    .c-images__one {
        text-align: center;
        img:first-child {
            margin-bottom: 50px;
            margin-top: 180px;
        }
    }
    .c-images__two {
        display: inline-flex;
        flex-wrap: wrap;
        align-items: flex-end;
        img:first-child {
            margin-right: 50px;
        }
        img:last-child {
            margin-top: 50px;
            width: 100%;
        }
    }
    img {
        object-fit: contain;
    }
}
.c-images--mobile {
    display: none;
}
.c-infoTwo {
    background-color: #092540;
    margin-top: -1px;
    .c-infoTwo__button {
        background-color: #01D4FF;
        color: #092540;
    }
    .c-infoTwo__infoDown {
        color: #FFFFFF;
    }
    .c-infoTwo__image {
        align-self: center;
        margin-top: 150px;
    }
}
.c-infoThree {
    margin-top: -1px;
}
.c-infoFour {
    background-image: url("../assets/images/world.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: #092540;
    .c-infoFour-columns {
        div:last-child {
            z-index: 1;
        }
    }
}
.c-footer {
    .c-footer__logo {
        font-family: "Impact";
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
    }
    a {
        text-decoration: none;
        color: #393939;
        font-family: "Helvetica Neue Medium";
        font-size: 18px;
        line-height: 34px;
        letter-spacing: 0;
        text-align: left;
    }
    .col-sm-10 {
        div:last-child {
            div {
                flex-direction: column;
                display: flex;
            }
        }
    }
}
