<div class="container-fluid" style="padding: 0;">
  <div class="c-background__clip-path c-background__gradient"></div>
  <mat-toolbar class="c-menu">
    <div class="col-sm-3 offset-sm-1 c-menu__logo">
      <label>Striped</label>
    </div>
    <div class="col-sm-6 c-menu__tabs">
      <a href="#products">Products</a>
      <a href="#developers">Developers</a>
      <a href="#company">Company</a>
      <a href="#pricing">Pricing</a>
    </div>
    <div class="col-sm-2">
      <button class="o-button c-menu__button">
        Sign in
        <mat-icon aria-hidden="false">chevron_right</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <div class="c-contenedor">
    <div class="row c-header">
      <div class="col-sm-5 offset-sm-1 c-header__info">
        <p id="title">Payments insfrastructure for the internet</p>
        <p id="subtitle">Millions of businesses of all sizes—from startups to large enterprises—use Stripe’s
          software and APIs to accept payments, send payouts, and manage their businesses online.</p>
        <button class="o-button c-header__button-start">
          Start now
          <mat-icon aria-hidden="false">chevron_right</mat-icon>
        </button>
        <button class="c-header__button-contact">
          Contact sales
          <mat-icon aria-hidden="false">chevron_right</mat-icon>
        </button>
      </div>
      <div class="col-sm-6 c-header__image">
        <img id="desktop" src="assets/images/desktop.png">
        <img id="mobile" src="assets/images/mobile.png" alt="">
      </div>
    </div>
    <div class="row c-sections">
      <div class="row c-sections__one">
        <img src="assets/images/rappi.png">
        <img src="assets/images/cornershop.png">
        <img src="assets/images/google.png">
        <img src="assets/images/amazon.png">
      </div>
      <div class="row c-sections__two">
        <img id="zoom" src="assets/images/zoom.png">
        <img src="assets/images/shopify.png">
        <img src="assets/images/maskota.png">
        <img src="assets/images/siclo.png">
      </div>
    </div>
    <div class="row c-infoOne">
      <div class="row">
        <div class="col-sm-5 offset-sm-1">
          <p class="o-upTitle o-color__purple">Unified platform</p>
          <p class="o-title o-title--gray">A fully integrated suite of payments products</p>
        </div>
      </div>
      <div class="col-sm-5 offset-sm-1">
        <label class="o-subtitle">We bring together everything that’s required to build websites and apps that accept payments
          and send payouts globally. Stripe’s products power payments for
          <span class="o-color__purple"> online and in-person retailers,
            subscriptions businesses, software platforms and marketplaces </span>
          , and everything in between.</label>
          <button class="o-button c-infoOne__button">
            Start with paymets
            <mat-icon aria-hidden="false">chevron_right</mat-icon>
          </button>
      </div>
      <div class="col-sm-5">
        <label class="o-subtitle">We also help companies 
          <span class="o-color__purple">beat fraud, send invoices, issue virtual and physical cards, 
          get financing, manage business spend </span>
          , and much more.</label>
      </div>
    </div>
  </div>
</div>