@import url(https://allfont.es/allfont.css?fonts=impact);
@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/helveticaneue-regular.ttf");
}
@font-face {
    font-family: "Helvetica Neue Medium";
    src: url("../fonts/helveticaneue-medium.ttf");
}
@font-face {
    font-family: "Helvetica Neue Bold";
    src: url("../fonts/HelveticaNeue-Bold.ttf");
}

.backgound-gradient{
    background: radial-gradient(73.93% 155.79% at 56.93% 16.11%, #EE755C 16.67%, rgba(144, 224, 255, 0) 48.34%),
    radial-gradient(34.96% 33.39% at 56.66% 50%, #FF333D 44.79%, rgba(169, 96, 238, 0) 83.19%),
    radial-gradient(13.35% 23.03% at 6.58% 67.25%, #AFE9FF 0%, #90E0FF 41.45%, rgba(144, 224, 255, 0) 100%),
    radial-gradient(19.75% 48.55% at 19.59% 56.88%, #B8EBFF 0%, #90E0FF 60.58%, rgba(169, 96, 238, 0) 83.24%),
    radial-gradient(10.9% 23.5% at 7.65% 84.98%, #A960EE 25.96%, rgba(255, 51, 61, 0) 100%),
    radial-gradient(27.77% 40.9% at 19.29% 57.22%, rgba(144, 224, 255, 0.1) 50.74%, rgba(169, 96, 238, 0) 100%),
    radial-gradient(20.43% 35.1% at 45.83% 17.78%, #FFCB57 31.7%, rgba(238, 117, 92, 0) 100%),
    radial-gradient(26.67% 62.22% at 0% 100%, #FF333D 19.21%, rgba(183, 120, 224, 0) 54.54%),
    radial-gradient(24.52% 60.67% at 5.34% 39.33%, #FFCB57 41.18%, rgba(183, 120, 225, 0) 71.99%),
    conic-gradient(from 3.28deg at 22.11% 40.38%, rgba(169, 96, 238, 0) 0deg, #90E0FF 178.27deg, rgba(169, 96, 238, 0) 360deg),
    radial-gradient(34.48% 62.34% at 21.35% 32.43%, #A960EE 0%, #C788CB 100%);
    background-blend-mode: hard-light, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal;
    filter: blur(24px);
}

.header{
    height: 535px;
    clip-path: polygon(0 0, 100% 0%, 100% 23%, 0% 80%);
}
.menu{
    color: #FFFFFF;
    background: none;
    position: absolute;
    top: 0;
    .logo{
        font-family: "Impact";
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.01em;
        // text-align: center;
    }
    .tabs{
        a{
            font-family: 'Helvetica Neue Bold';
            font-size: 17px;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: center;
            text-decoration: none;
            color: #FFFFFF;
            margin-left: 32px;
        }
    }
    .btn-signin{
        font-family: "Helvetica Neue";
        // text-align: center;
        button{
            font-size: 16px;
            font-style: normal;
            font-weight: bolder;
            line-height: 24px;
            letter-spacing: 0.01em;
            text-align: center;
            border: none;
            border-radius: 20px;
            padding: 6px 15px;
            color: #FFFFFF;
            background: rgba(255, 255, 255, 0.2);
            display: inline-flex;
        }
    }
}
.contenedor{
    position: absolute;
    top: 10%;
    width: 99%;
}
.info-header{
    width: 100%;
    .info-section{
        margin-top: 65px;
        font-family: "Helvetica Neue Bold";
        text-align: left;
        #title{
            color: #393939;
            font-size: 80px;
            line-height: 97px;
            letter-spacing: -0.04em;
        }
        #subtitle{
            color: #425466;
            font-size: 18px;
            line-height: 34px;
            letter-spacing: 0em;
        }
        button{
            align-items: center;
        }
        .btn-start{
            font-family: "Helvetica Neue Medium";
            font-size: 15px;
            line-height: 24px;
            letter-spacing: 0.01em;
            text-align: center;
            border: none;
            border-radius: 20px;
            padding: 6px 15px;
            color: #FFFFFF;
            background: #11253E;
            display: inline-flex;
        }
        mat-icon{
            font-size: 18px;
            padding-top: 4px;
        }
        .btn-contact{
            border: none;
            background: none;
            display: inline-flex;
            font-family: "Helvetica Neue Medium";
            font-size: 15px;
            letter-spacing: 0.01em;
            text-align: center;
            color: #0A2540;
            margin-left: 20px;
        }
    }
    .img-header{
        #desktop{
            // width:486px;
            // float: right;
            // margin-right: -24px;
            margin-left: 27.5%;
        }
        #mobile{
            position: absolute;
            top: 10%;
            right: 235px;
        }
    }
}

.sections{
    .section-one, 
    .section-two{
        height: 40px;
        justify-content: space-around;
        align-items: center;
        img{
            width: auto;
        }
    }
    .section-two{
        margin-top: 80px;
        margin-bottom: 128px;
        #zoom{
            height: 20px;
        }
    }
}