
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$striped-primary: mat.define-palette(mat.$indigo-palette);
$striped-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$striped-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$striped-theme: mat.define-light-theme((
  color: (
    primary: $striped-primary,
    accent: $striped-accent,
    warn: $striped-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($striped-theme);

/* You can add global styles to this file, and also import other style files */

@import url(https://allfont.es/allfont.css?fonts=impact);
@font-face {
    font-family: "Helvetica Neue";
    src: url("./fonts/helveticaneue-regular.ttf");
}
@font-face {
    font-family: "Helvetica Neue Medium";
    src: url("./fonts/helveticaneue-medium.ttf");
}
@font-face {
    font-family: "Helvetica Neue Bold";
    src: url("./fonts/HelveticaNeue-Bold.ttf");
}

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: "Helvetica Neue Bold", sans-serif; 
}

/*              Utilidades                  */
.u-mb__32 {
  margin-bottom: 32px;
}
.u-mb-24 {
  margin-bottom: 24px;
}
.u-mb-37 {
  margin-bottom: 37px;
}
.u-pb-80 {
  padding-bottom: 80px;
}
.u-mt__80 {
  margin-top: 80px;
}
.u-pb__300 {
  padding-bottom: 300px;
}
.u-inline-flex {
  display: inline-flex;
}
.u-flex__column {
  display: flex;
  flex-direction: column;
}
.u-ml-30 {
  margin-left: 30px;
}
.u-background__gray {
  background: #F6F9FC;
}