
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$striped-primary: mat.define-palette(mat.$indigo-palette);
$striped-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$striped-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$striped-theme: mat.define-light-theme((
  color: (
    primary: $striped-primary,
    accent: $striped-accent,
    warn: $striped-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($striped-theme);

/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Impact";
  src: url("./fonts/impact.ttf");
}
@font-face {
    font-family: "Helvetica Neue";
    src: url("./fonts/helveticaneue-regular.ttf");
}
@font-face {
    font-family: "Helvetica Neue Medium";
    src: url("./fonts/helveticaneue-medium.ttf");
}
@font-face {
    font-family: "Helvetica Neue Bold";
    src: url("./fonts/HelveticaNeue-Bold.ttf");
}

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: "Helvetica Neue Bold", sans-serif; 
}

.c-background__gradient {
  background: radial-gradient(73.93% 155.79% at 56.93% 16.11%, #EE755C 16.67%, rgba(144, 224, 255, 0) 48.34%), radial-gradient(34.96% 33.39% at 56.66% 50%, #FF333D 44.79%, rgba(169, 96, 238, 0) 83.19%), radial-gradient(13.35% 23.03% at 6.58% 67.25%, #AFE9FF 0%, #90E0FF 41.45%, rgba(144, 224, 255, 0) 100%), radial-gradient(19.75% 48.55% at 19.59% 56.88%, #B8EBFF 0%, #90E0FF 60.58%, rgba(169, 96, 238, 0) 83.24%), radial-gradient(10.9% 23.5% at 7.65% 84.98%, #A960EE 25.96%, rgba(255, 51, 61, 0) 100%), radial-gradient(27.77% 40.9% at 19.29% 57.22%, rgba(144, 224, 255, 0.1) 50.74%, rgba(169, 96, 238, 0) 100%), radial-gradient(20.43% 35.1% at 45.83% 17.78%, #FFCB57 31.7%, rgba(238, 117, 92, 0) 100%), radial-gradient(26.67% 62.22% at 0% 100%, #FF333D 19.21%, rgba(183, 120, 224, 0) 54.54%), radial-gradient(24.52% 60.67% at 5.34% 39.33%, #FFCB57 41.18%, rgba(183, 120, 225, 0) 71.99%), conic-gradient(from 3.28deg at 22.11% 40.38%, rgba(169, 96, 238, 0) 0deg, #90E0FF 178.27deg, rgba(169, 96, 238, 0) 360deg), radial-gradient(34.48% 62.34% at 21.35% 32.43%, #A960EE 0%, #C788CB 100%);
  background-blend-mode: hard-light, normal, normal, normal, normal, normal, normal, normal, normal, normal, normal;
  filter: blur(24px);
}
.c-background__clip-path {
  height: 535px;
  clip-path: polygon(0 0, 100% 0%, 100% 23%, 0% 80%);
}
.c-background__clip-blue {
  height: 256px;
  background: #092540;
  margin: 0;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}
.c-background__clip-blue--reverse {
  clip-path: polygon(0 0, 0% 100%, 100% 0%);
}
.c-background__clip-white {
  height: 256px;
  background: #FFFFFF;
  margin: -1px 0 0;
  clip-path: polygon(0 0, 0% 100%, 100% 0%);
}

/*              Objetos                     */
.o-button {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: center;
  border: none;
  border-radius: 20px;
  padding: 6px 15px;
  display: inline-flex;
}
.o-button--none {
  background: none;
  padding: 0;
  font-family: "Helvetica Neue Medium";
}
.o-button--purple {
  background: #635CFF;
  color: #FFFFFF;
}
.o-upTitle {
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 0;
  text-align: left;
}
.o-color__purple {
  color: #635CFF;
}
.o-color__blue {
  color: #01D4FF;
}
.o-title {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0;
  text-align: left;
}
.o-title--gray {
  color: #393939;
}
.o-subtitle {
  color: #425466;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 0;
  text-align: left;
}
.o-title--white,
.o-subtitle--white {
  color: #FFFFFF;
}
.o-bar {
  width: 2px;
  position: absolute;
  height: 24px;
  background: #01D4FF;
  margin-left: -15px;
}
.o-bar--xl {
  height: 48px;
}
.o-bar--purple {
  background: #635CFF;
}

/*              Selectores                  */
mat-icon {
  font-size: 18px;
  padding-top: 4px;
}

/*              Utilidades                  */
.u-mb__32 {
  margin-bottom: 32px;
}
.u-mb-24 {
  margin-bottom: 24px;
}
.u-mb-37 {
  margin-bottom: 37px;
}
.u-pb-80 {
  padding-bottom: 80px;
}
.u-mt__80 {
  margin-top: 80px;
}
.u-pb__300 {
  padding-bottom: 300px;
}
.u-inline-flex {
  display: inline-flex;
}
.u-flex__column {
  display: flex;
  flex-direction: column;
}
.u-ml-30 {
  margin-left: 30px;
}
.u-background__gray {
  background: #F6F9FC;
}